@if (TempData["success"] != null)
{
    <div class="alert alert-success  msg text-center">
        <h2> <strong>Success!</strong></h2><h3>@TempData["success"]</h3> 
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger msg text-center">
        <strong>Error!</strong><span>@TempData["error"]</span>
    </div>
}


@if (TempData["warning"] != null)
{
    <div class="alert alert-warning text-center msg">
        <h2><strong>Warning!</strong></h2><h3>@TempData["warning"]</h3>
    </div>
}
@if (TempData["info"] != null)
{
    <div class="alert alert-info text-center msg">
        <strong>Info!</strong><span>@TempData["info"]</span>
    </div>
}