@if (TempData["success"] != null)
{
    <div class="alert alert-success  msg text-center">
        <strong>Success!</strong><span><br/> @TempData["success"]</span>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger msg text-center">
        <strong>Error!</strong><span>@TempData["error"]</span>
    </div>
}


@if (TempData["warning"] != null)
{
    <div class="alert alert-warning text-center msg">
        <strong>Warning!</strong><span>@TempData["warning"]</span>
    </div>
}
@if (TempData["info"] != null)
{
    <div class="alert alert-info text-center msg">
        <strong>Info!</strong><span>@TempData["info"]</span>
    </div>
}