@using WorkingWithMultipleTable_Prod.Utility;
@model WorkingWithMultipleTable_Prod.Models.ViewModel.EmployeeDepartmentSummaryViewModel
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2 border border-dark p-4 rounded rounded-end">
            <h3 class="text-center text-primary m-1">Add Employee</h3>
            <form method="post" asp-action="AddEmployee">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input type="text" class="form-control" placeholder="Please enter first name" asp-for="FirstName" autocomplete="off" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MiddleName"></label>
                    <input type="text" class="form-control" placeholder="Please enter middle name" asp-for="MiddleName" autocomplete="off" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input type="text" class="form-control" placeholder="please enter last name" asp-for="LastName" autocomplete="off" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="m-1"></label><br />
                    <label>
                        <input type="radio" class="form-check-input" asp-for="Gender" value="Male" /> Male
                    </label>
                    <label>
                        <input type="radio" class="form-check-input" asp-for="Gender" value="Female" /> Female
                    </label>
                    <label>
                        <input type="radio" class="form-check-input" asp-for="Gender" value="Other" /> Other
                    </label>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentName"></label>
                    <select class="form-control" asp-for="DepartmentId">
                        <option value="0">--Select Department--</option>
                        @foreach (var item in ViewBag.department)
                        {
                            <option value="@item.DepartmentId">@Utilities.EveryFirstCharacterCapital(item.DepartmentName)</option>
                        }
                    </select>
                </div>

               <div action="form-group">
                    <input type="submit" class="btn float-end btn-lg btn-primary p-2 m-4" value="SUBMIT" />
               </div>
            </form>
            <div>
                <a asp-action="Index" asp-controller="Employee" class="btn btn-info m-2 p2">Back to List</a>
            </div>
        </div>
    </div>
</div>

